node_modules
**/node_modules
**/dist
**/dist-seed
**/coverage
.git
.env
.env.*
!.env.example

**/private-storage
apps/scrapper/*
!apps/scrapper/package.json
!apps/scrapper/package-lock.json
!apps/scrapper/*.js
